<div class="flex flex-col justify-center items-center w-full overflow-hidden bg-gray-100">
  <div class="flex transition-transform duration-500 ease-in-out" style="transform: translateX(0%);">
    <div class="h-80 w-full flex-shrink-0 my-10">
      {% if settings.slideshow_image %}
        <p>{{ settings.slideshow_image }}</p>
        <image
          src="{{ settings.slideshow_image | file_img_url }}"
          alt="{{ settings.label | default: 'Slideshow Image' }}"
          class="w-full h-full object-cover transition duration-300 ease-in-out hover:scale-105" />
      {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
      {% endif %}
    </div>
  </div>
  <p class="text-md font-semibold">This is a demo description for the lifestyle 2 placeholder image</p>
  <div class="my-10">
    <button type="button" class="text-sm bg-black text-white px-10 py-5 rounded-lg shadow-md shadow-[#000000B3] hover:bg-slate-800">Shop This Item</button>
  </div>
</div>

<!-- Schema -->
{% schema %}
  {
    "name": "Slideshow Section",
    "limit": 1,
    "settings": [
      {
        "type": "image_picker",
        "id": "slideshow_image",
        "label": "Slide Image 1"
      }
    ]
  }
{% endschema %}