<section class="slideshow" aria-label="Banner Slideshow">
  <div class="slideshow-container relative w-full mx-auto">
    {% for i in (1..4) %}
      {% assign image_key = 'image_' | concat: i %}
      {% if section.settings[image_key] %}
        <div class="slideshow-slide hidden fade">
          <image
            src="{{ section.settings[image_key] | image_url: '1600x900' }}"
            alt="Slide {{ i }}"
            class="w-full h-auto object-cover transition duration-300 ease-in-out hover:scale-105" />
        </div>
      {% else %}
        <div class="slideshow-slide hidden fade">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'w-full h-96 object-cover bg-gray-100' }}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <a class="prev absolute left-0 top-1/4 transform -translate-y-1/2 text-white font-bold text-2xl p-4 bg-black bg-opacity-50 cursor-pointer" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next absolute right-0 top-1/4 transform -translate-y-1/2 text-white font-bold text-2xl p-4 bg-black bg-opacity-50 cursor-pointer" onclick="plusSlides(1)">&#10095;</a>

  <div class="dot-container flex justify-center py-4">
    {% for i in (1..4) %}
      {% assign image_key = 'image_' | concat: i %}
      {% if section.settings[image_key] %}
        <span class="dot h-3 w-3 bg-gray-400 rounded-full mx-2 cursor-pointer transition-colors duration-300" onclick="currentSlide({{ i }})"></span>
      {% endif %}
    {% endfor %}
  </div>
</section>


<style>
  .fade {
    animation: fade 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4
    }
    to {
      opacity: 1
    }
  }
</style>

<script>
  let slideIndex = 0;
  showSlides();

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n - 1);
  }

  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("slideshow-slide");
    let dots = document.getElementsByClassName("dot");

    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1; }

    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" bg-gray-700", "");
    }

    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " bg-gray-700";
    setTimeout(showSlides, 4000); // Auto-slide every 4 seconds
  }
</script>

{% schema %}
  {
    "name": "Store Banner",
    "settings": [
      {
        "id": "image_1",
        "label": "Image 1",
        "type": "image_picker"
      }, {
        "id": "image_2",
        "label": "Image 2",
        "type": "image_picker"
      }, {
        "id": "image_3",
        "label": "Image 3",
        "type": "image_picker"
      }, {
        "id": "image_4",
        "label": "Image 4",
        "type": "image_picker"
      }
    ]
  }
{% endschema %}